@font-face{
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;

    src: url('font/montserrat-regular.woff2') format('woff2'),
    url('font/montserrat-regular.woff') format('woff');
}
@font-face{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;

    src: url('font/montserrat-bold.woff2') format('woff2'),
    url('font/montserrat-bold.woff') format('woff');
}
@font-face{
    font-family: 'PTSerif';
    font-weight: normal;
    font-style: normal;

    src: url('font/PTF55F-webfont.woff') format('woff');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PTSerif', serif;
}
.conteiner{
    position: relative;

    width: 1200px;
    margin: 0 auto;

    color: #fff;
}
header{
    height: 693px;

    background-image: url('img/photo_header.jpg');
}
header .logo{
    float: left;

    width: 135px;
    height: 63px;
    margin-top: 38px;
    margin-left: 103px;

    background-image: url('img/logo_header.png');
}
header .nav{
    float: left;

    margin-top: 60px;
    margin-left: 338px;
}
header .nav a{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;

    float: left;

    margin-right: 3px;
    padding: 8px 13px 7px 14.5px;

    text-decoration: none;
    letter-spacing: -0.02em;

    color: #1b1b1b;
    border-radius: 5px;
}
header .nav .current{
    color: #fff;
    background-color: #d03958;
}
header .nav a:hover{
    opacity: 0.4;
    color: #fff;
    background-color: #d03958;
}
header .nav a:active{
    opacity: 1;
}
header .text{
    float: left;
    clear: both;

    margin-top: 137px;
    margin-left: 101.5px;
}
header .text h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 700;

    letter-spacing: -0.02em;

    color: #d03958;
}
header .text h3:nth-child(2){
    margin-top: -30px;

    color: #161616;
}
header .text p{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */

    width: 470px;
    margin-top: 22px;
    margin-left: 1px;

    text-align: left;
    letter-spacing: -0.02em;

    color: #161616;
}



.conteiner form{
    position: absolute;
    z-index: 1;
    top: 253px;
    left: 696px;

    width: 400px;
    height: 520px;

    border-radius: 5px;
    background-color: #d03958;
}
.conteiner form h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    margin-top: 27px;
    margin-bottom: 35px;
    margin-left: 84.5px;

    letter-spacing: -0.02em;

    color: #fff;
}
.conteiner form input{
    font-family: 'PTSerif', serif;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    display: block;

    width: 315px;
    height: 57px;
    margin-bottom: 17px;
    margin-left: 24px;
    padding: 0 19px;

    color: #bbb;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}
.conteiner form input::-webkit-input-placeholder{
    color: #b5b5b5;
}
.conteiner form .checkbox{
    overflow: hidden;

    margin-top: 22px;
    margin-left: 27px;
}
.conteiner form .checkbox input[type='checkbox']{
    position: relative;
    z-index: 2;

    width: 730px;
    height: 36px;
    margin-top: -18px;
    margin-bottom: 0;
    margin-left: -420px;

    cursor: pointer;
}
.conteiner form .checkbox .label{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    margin-top: -18px;

    letter-spacing: -0.02em;

    color: #fff;
}
.conteiner form .checkbox .label .box{
    float: left;

    width: 19px;
    height: 18px;
    margin-top: 5px;
    margin-right: 23px;

    border-radius: 5px;
    background-color: #fff;
}
.conteiner form .checkbox input[type='checkbox']:checked + .label .box{
    background-image: url('img/check.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.conteiner form button{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    width: 353px;
    height: 57px;
    margin-top: 19px;
    margin-left: 24px;
    padding-right: 24px;
    padding-bottom: 3px;

    cursor: pointer;
    letter-spacing: -0.02em;

    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #161616;
}
.conteiner form button:hover{
    background: #232323;
}
.conteiner form button:active{
    background-color: #161616;
}



.conteiner .service{
    height: 477px;
}
.conteiner .service h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;

    float: left;

    margin-top: 28px;
    margin-left: 98px;

    letter-spacing: -0.047em;

    color: #d03958;
}
.conteiner .service h3:nth-child(2){
    margin-top: 28px;
    margin-left: 14px;

    color: #161616;
}
.conteiner .service .items{
    float: left;
    clear: both;

    margin-top: 85px;
    margin-left: 98px;
}
.conteiner .service .items .item{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */

    float: left;

    width: 174px;
    height: 60px;
    margin-left: 103px;
    padding-top: 180px;

    text-align: center;
    letter-spacing: -0.02em;

    color: #161616;
    background-repeat: no-repeat;
    background-position: center 0;
}
.conteiner .service .items .item:nth-child(1){
    margin-left: 0;

    background-image: url('img/serv1.png');
}
.conteiner .service .items .item:nth-child(2){
    background-image: url('img/serv2.png');
}
.conteiner .service .items .item:nth-child(3){
    background-image: url('img/serv3.png');
}
.conteiner .service .items .item:nth-child(4){
    background-image: url('img/serv4.png');
}




.conteiner .call_pricing{
    height: 656px;

    background-color: #e3d5b8;
}
.conteiner .call_pricing .story{
    height: 119px;

    background-color: #d03958;
}
.conteiner .call_pricing .story .text{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */

    float: left;

    width: 605px;
    margin-top: 26px;
    margin-left: 104.5px;

    text-align: left;
    letter-spacing: -0.02em;

    color: #fff;
}
.conteiner .call_pricing .story a{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 64px;/* Приближение из-за подстановки шрифтов */

    float: left;

    width: 205px;
    height: 64px;
    margin-top: 31px;
    margin-left: 117px;
    padding-left: 64px;

    text-decoration: none;
    letter-spacing: -0.02em;

    color: #161616;
    border-radius: 5px;
    background-color: #e3d5b8;
}
.conteiner .call_pricing .story a:hover{
    background: #f5e7c9;
}
.conteiner .call_pricing .story a:active{
    background-color: #e3d5b8;
}
.conteiner .call_pricing h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;

    display: block;

    margin-top: 50px;
    margin-left: 498.3px;

    letter-spacing: -0.018em;

    color: #1f1f1f;
}
.conteiner .call_pricing .items{
    position: relative;
    top: 48px;

    float: left;
}
.conteiner .call_pricing .items .item{
    position: relative;
    float: left;
    overflow: hidden;

    width: 318px;
    height: 389px;
    margin-left: 22px;

    text-align: center;

    border-radius: 5px;
    background-color: #fff;
}
.conteiner .call_pricing .items .item:first-child{
    margin-left: 100px;
}
.conteiner .call_pricing .items .item .top{
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    margin-top: 30px;

    color: #161616;
}
.conteiner .call_pricing .items .item .price{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;

    margin-top: 17px;

    color: #d03958;
}
.conteiner .call_pricing .items .item .features{
    margin-top: 14px;
}
.conteiner .call_pricing .items .item .features p{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    display: block;

    margin-bottom: 2px;

    letter-spacing: -0.02em;

    color: #161616;
}
.conteiner .call_pricing .items .item a{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 49px;/* Приближение из-за подстановки шрифтов */

    display: block;

    width: 205px;
    height: 49px;
    margin-top: 32px;
    margin-left: 58px;

    text-align: center;
    text-decoration: none;

    color: #161616;
    border-radius: 4px;
    background-color: #e3d5b8;
}
.conteiner .call_pricing .items .item:nth-child(2) .text:before{
    content: '';
    position: absolute;
    top: -76px;
    left: -88px;    
    width: 150px;
    height: 150px;
    transform: rotate(-46deg);
    background-color: #b4a993;
}
.conteiner .call_pricing .items .item:nth-child(2) .text:after{
    content: 'Popular';
    position: absolute;
    top: 17px;
    left: 2px;
    color: #1f1f1f;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: rotate(-47.359deg); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */    

}
.conteiner .call_pricing .items .item:nth-child(2) a{
    color: #fff;
    background-color: #d03958;
}
.conteiner .call_pricing .items .item a:hover{
    opacity: 0.5;
}
.conteiner .call_pricing .items .item a:active{
    opacity: 1;
}




.conteiner .test_gallery{
    height: 691px;
}
.conteiner .test_gallery .testimonial{
    float: left;

    width: 550px;
    margin-top: 139px;
    margin-left: 85px;
}
.conteiner .test_gallery .testimonial h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;

    margin-left: 81.5px;

    letter-spacing: -0.02em;

    color: #1f1f1f;
}
.conteiner .test_gallery .testimonial .items{
    margin-top: 25px;
}
.conteiner .test_gallery .testimonial .items .item{
    position: relative;

    display: block;

    width: 350px;
    margin-bottom: 35px;
    padding-top: 19px;
    padding-right: 63px;
    padding-bottom: 27px;
    padding-left: 26.5px;

    text-decoration: none;
    letter-spacing: -0.025em;

    border-radius: 5px;
}
.conteiner .test_gallery .testimonial .items .item:hover{
    background-color: #e3d5b8;
}
.conteiner .test_gallery .testimonial .items .item:active{
    background-color: #edb;
}
.conteiner .test_gallery .testimonial .items .item .top{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */

    text-align: left;

    color: #161616;
}
.conteiner .test_gallery .testimonial .items .item .bottom{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    margin-top: 16px;
    margin-left: -7px;

    color: #d03958;
}
.conteiner .test_gallery .testimonial .items .item .img{
    position: absolute;
    top: 9px;
    left: 358px;

    width: 134px;
    height: 133px;

    border-radius: 50%;
    background-position: center;
}
.conteiner .test_gallery .testimonial .items .item:nth-child(1) .img{
    background-image: url('img/face1.png');
}
.conteiner .test_gallery .testimonial .items .item:nth-child(2) .img{
    background-image: url('img/face2.png');
}
.conteiner .test_gallery .gallery{
    float: left;

    width: 500px;
    margin-top: 139px;
    margin-left: 58px;
}
.conteiner .test_gallery .gallery h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;

    margin-top: -3px;
    margin-left: 68.5px;

    letter-spacing: -0.02em;

    color: #d03958;
}
.conteiner .test_gallery .gallery .images{
    float: left;

    margin-top: 38px;
}
.conteiner .test_gallery .gallery .images .img{
    float: left;

    width: 134px;
    height: 133px;
    margin-left: 5px;

    opacity: 0.8;
    border-radius: 50%;
    background-position: center;
}
.conteiner .test_gallery .gallery .images .img:nth-child(1){
    margin-left: 0;

    background-image: url('img/gallery_pic1.png');
}
.conteiner .test_gallery .gallery .images .img:nth-child(2){
    background-image: url('img/gallery_pic2.png');
}
.conteiner .test_gallery .gallery .images .img:nth-child(3){
    background-image: url('img/gallery_pic3.png');
}
.conteiner .test_gallery .gallery .images .img:nth-child(4){
    margin-left: 0;

    background-image: url('img/gallery_pic4.png');
}
.conteiner .test_gallery .gallery .images .img:nth-child(5){
    background-image: url('img/gallery_pic5.png');
}
.conteiner .test_gallery .gallery .images .img:nth-child(6){
    background-image: url('img/gallery_pic6.png');
}
.conteiner .test_gallery .gallery .images .img:hover{
    opacity: 0.6;
}
.conteiner .test_gallery .gallery .images .img:active{
    opacity: 1;
}
.conteiner .test_gallery .gallery .more{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    float: left;
    clear: both;

    margin-top: 34px;
    margin-left: 84px;

    text-decoration: underline;
    letter-spacing: -0.02em;

    color: #d03958;
}
.conteiner .test_gallery .gallery .more:hover{
    opacity: 0.8;
}
.conteiner .test_gallery .gallery .more:active{
    opacity: 1;
}




footer{
    width: 1200px;
    height: 183px;
    margin: 0 auto;

    background-color: #161616;
    background-image: url('img/logo_footer.png');
    background-repeat: no-repeat;
    background-position: 992px 73px;
}
footer p{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    float: left;

    margin-top: 74px;
    margin-left: 9px;

    letter-spacing: -0.02em;

    color: #fff;
}
footer p:first-child{
    margin-left: 86.5px;
}
footer a{
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;

    float: left;

    margin-top: 74px;
    margin-left: 4px;

    text-decoration: none;
    letter-spacing: -0.02em;

    color: #d03958;
}
footer a:hover{
    opacity: 0.8;
}
footer a:active{
    opacity: 1;
}
