@font-face {
	font-family: "HelveticaNeue";
	src: url("/fonts/HelveticaNeue/HelveticaNeueRegular/HelveticaNeueRegular.eot");
	src: url("/fonts/HelveticaNeue/HelveticaNeueRegular/HelveticaNeueRegular.eot?#iefix")format("embedded-opentype"),
	url("/fonts/HelveticaNeue/HelveticaNeueRegular/HelveticaNeueRegular.woff") format("woff"),
	url("/fonts/HelveticaNeue/HelveticaNeueRegular/HelveticaNeueRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "HelveticaNeue";
	src: url("/fonts/HelveticaNeue/HelveticaNeueBold/HelveticaNeueBold.eot");
	src: url("/fonts/HelveticaNeue/HelveticaNeueBold/HelveticaNeueBold.eot?#iefix")format("embedded-opentype"),
	url("/fonts/HelveticaNeue/HelveticaNeueBold/HelveticaNeueBold.woff") format("woff"),
	url("/fonts/HelveticaNeue/HelveticaNeueBold/HelveticaNeueBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}








/*reset style*/
*{
	outline: none;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: normal;
}

/*header*/
header{
	background: center no-repeat;
}
header .row > div:nth-child(1){
	background: center bottom no-repeat;
	height: 551px;
}
header .header-logo{
	background: no-repeat;
	height: 68px;
	margin-top: 100px;
}
header .row > div:nth-child(2) p{
	color: #ffffff;
	font-size: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75);
	margin-top: 30px;
}
header .row > div:nth-child(2) a{
	color:  #ffffff;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	background-color: #f12078;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	display: block;
	width: 137px;
	height: 53px;
	line-height: 53px;
	box-sizing: border-box;
	text-decoration: none;
	margin-top: 40px;
}
header .row > div:nth-child(2) a:hover{
	opacity: 0.8;
}
header .row > div:nth-child(2) a:active{
	opacity: 0.9;
}




/*carousel*/
.container-carousel{
	position: relative;
	margin-top: -44px;
}
.container-carousel .arrow{
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 0%;
	margin-top: -20px;
	z-index: 5;
	color: rgba(241, 32, 120, 0.5);
	text-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);

}
.container-carousel .arrow.right{
	right: 0%;
	left: auto;
}	
.container-carousel .arrow:hover{
	cursor: pointer;
	color:  #f12078;
}	
.container-carousel .parent-for-shadow{
	width: 240px;
	margin: 0 auto;
	background: url("img/block-shadow.png") center no-repeat;
}
.container-carousel .cadre{
	width: 220px;
	height: 257px;
	margin: 0 auto;
	background-color: #fff;
	padding-top: 19px;
}
.container-carousel .photo{
	width: 182px;
	height: 105px;
	margin: auto;
}
.container-carousel h3{
	color: #171717;
	font-size: 16px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	padding-left: 19px;
}
.container-carousel h3 span{
	font-weight: 400;
}
.container-carousel .divider{
	background-color: #f5227d;
	width: 182px;
	height: 2px;
	margin: 0 auto;
}
.container-carousel p{
	padding-top: 15px;
	padding-left: 19px;
	color: #5f5f5f;
	font-size: 12px; /* Приближение из-за подстановки шрифтов */
	line-height: 16px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.container-carousel .active:first-child{
	opacity: 0.1;
}






/*media*/
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}